* {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.site-header {
  background-color: #5374bd;
  padding-bottom: 1em;
  padding-top: 1.5em;
  padding-bottom: 4em;
  height: 160px;
  box-sizing: border-box;
}

.site-title {
  text-align: center;
  font-weight: 800;
  font-size: 56px;
  margin-bottom: 0;
  text-align: center;
}

.site-title-text {
  color: #FFF;
  text-decoration: none;
}

.site-title-text:hover {
  color: #EEE;
}

.page-content {
  position: relative;
  top: -2.5em;
  padding: 2em;
  background-color: #FFF;
}

.site-wrapper {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
}

.site-indexes {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #FFF;
  z-index: 100;
  box-shadow: 0 2px 3px #333;
}

.site-indexes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-indexes ul li {
  margin-left: 0;
  border-bottom: 1px solid #EEE;
}

.site-index-header {
  height: 160px;
  background-color: #555;
}

.site-indexes ul li a {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  height: 1.5em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

.tag-list {
  list-style: none;
  display: block;
  text-align: right;
}

.tag-item {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.8em;
  border-radius: 5px;
  background-color: #EFEFEF;
  border: 1px solid #DDD;
  margin-right: 0.5em;
}

.post-header {
  padding-bottom: 1em;
  border-bottom: 3px inset #DDD;
  margin-bottom: 1em;
}
